.left{
	color:#2b2b2b;
	float:left;
	background-color:#fff;
}
a{
	text-decoration:none;
}
li{
	font-size:14px;
	line-height:25px;
	clear:both;
	background:transparent url(iamges/3-1.png) no-repeat scroll;
	background-size: 8px 8px;
	background-position: 0px 8px;
	width:400px;
	padding-left:9px;
	list-style-type:none;
}
.dot{
	background:transparent url(iamges/3-2.png) repeat-x scroll 0px 8px;
	background-size: 8px 8px;
	height:25px;
}
.mid{
	font-size:12px;
	color:#7b8d42;
	float:left;
	padding:0px 5px;
	background-color:#fff;
}
.right{
	color:#727171;
	background-color:#fff;
	float:right;
	padding:0px 5px;
	font-size:12px;
}
.red{
	color:#ba2636;
}